.o-grid-row(data-o-grid-colspan='center 12 S10 L8')
    .o-teaser.o-teaser--large(data-o-component='o-teaser')
        .o-teaser__content
            h2.o-teaser__heading
                a(href=result.location.uri)= result.title.title
            p.o-teaser__standfirst= result.editorial.subheading
            .o-teaser__timestamp
                time.o-date.o-teaser__timestamp(data-o-component='o-date', datetime=result.lifecycle.initialPublishDateTime)