.o-grid-row(data-o-grid-colspan='center 12 S10 L8')
    .o-teaser.o-teaser--large(data-o-component='o-teaser')
        .o-teaser__content
            h2.o-teaser__heading There is no result for #{searchTerm}