doctype html
html(lang='en')
  head
    title= title
    meta(charset='UTF-8')
    meta(property='og:title', content=title)
    link(rel='preconnect stylesheet' href='https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-colors@^5.0.6,o-header@^8.0.2,o-footer@^7.0.2,o-grid@^5.0.2,o-typography@^6.1.3,o-forms@^8.2.1,o-buttons@^6.0.8,o-date@^4.0.0,o-teaser@^5.0.1')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body.o-colors-page-background
    include ./partials/header
    main.container
    block content
      include ./partials/searchInput
      if searchTerm
        if results
          each result in results
            include ./partials/searchResult
        else
          include ./partials/searchError
      if errorMessage
        h2 The error is #{errorMessage}
      include ./partials/footer
        script(src='https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-date@^4.0.0')
